html {
	box-sizing: border-box;
	font-size: 10px;
}


/* Reusable Class */

.txt-red {
	color: #f51010;
}

.bottom-margin {
	margin-bottom: 3rem;
}

.padding {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

/***********************************************
 			Global styling
************************************************/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: 'Saira Condensed', sans-serif;
	line-height: 1.5;
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	max-width: 20rem;
}



/***********************************************
 		HEADER
************************************************/

header {
	height: 40rem;
	background: url('img/home.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 1.5rem;
	background-color: #000;
	position: relative;
}

nav {
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.logo-container a {
	display: flex;
	align-items: center;
}

.logo-container img {
	width: 2rem;
	margin-right: .7rem;
}

.logo-label {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 700;
}

/* Hamburger Nav */

#toggle {
	display: none;
  }
  
  /**
	Hamburger
  **/

  .hamburger {
	z-index: 5;
  }
  
  .hamburger div {
	position: relative;
	width: 2em;
	height: .2em;
	border-radius: 3px;
	background-color: #f51010;
	margin-top: .25em;
	transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/

  .nav {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #01010a;
	top: -100%; left: 0; right: 0; bottom: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	transform: scale(0);
	z-index: 4;
  }

  .nav--menu {
	position: relative;
	overflow-y: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }

  .nav--menu li a {
	color: white;
	font-size: 2em;
	display: inline-block;
	margin-top: 1.25em;
	transition: color 0.2s ease-in-out;
	letter-spacing: 1px;
  }
  .nav--menu li a:before {
	content: '';
	height: 0;
	/* position: absolute; */
	width: 0.25em;
	background-color: white;
	left: -0.5em;
	transition: all 0.2s ease-in-out;
  }
  .nav--menu li a:hover {
	color: white;
  }
  .nav--menu li a:hover:before {
	height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
	transform: rotate(-40deg);
	margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
	opacity: 0;
	transform: rotate(40deg);
  }
  #toggle:checked + .hamburger .meat {
	transform: rotate(50deg);
	margin-top: -3px;
  }
  
  #toggle:checked + .hamburger + .nav {
	top: 0;
	transform: scale(1);
  }


.hero-section {
	position: absolute;
	top: 87%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.main-heading {
	text-transform: uppercase;
	text-align: center;
	line-height: 90%;
	color: #fff;
	font-size: 3.5rem;
	line-height: 1;
}


/***********************************************
 		MAIN - card
************************************************/



.card {
	width: 25rem;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem 5rem;
	display: flex;
	justify-content: center;
	gap: 1.7rem;
	box-shadow: 0 1.5rem 3rem rgba(245, 16, 16, .22);
}

.card-label--container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.card--text {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .05rem;
	margin-top: .5rem;
}


/***********************************************
 		MAIN - post
************************************************/

.post .secondary-heading {
	font-size: 3.4rem;
	text-transform: uppercase;
	letter-spacing: .5px;
	margin-bottom: 2rem;
	position: relative;
	border-left: .5rem solid #f51010;
	padding-left: .5rem;
}

.post-p {
	color: #434343;
	font-family:'Inter', sans-serif;
	margin-bottom: 2rem;
}

.content--container {
	text-align: center;
}


/***********************************************
 		FOOTER
************************************************/

footer {
	background-color: #000;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

footer .secondary-heading {
	color: #fff;
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: .5px;
	margin-bottom: 1.5rem;
}

.socials--container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.email--container a {
	display: flex;
	gap: .5rem;
}

.email--container .footer-p {
	color: #ddd9d9;
}

.social-media--container {
	display: flex;
	gap: .8rem;
}

.privacy--container {
	display: flex;
	justify-content: space-around;
}

.privacy--container a {
	color: #ddd9d9;
}


/***********************************************
 		MEDIA
************************************************/
/* Mobile */

@media screen and (min-width:480px) {
	html {
		font-size: 12px;
	}

	img {
		max-width: 50%;
	}

	.padding {
		padding-left: 2.8rem;
		padding-right: 2.8rem;
	}

	header {
		height: 50rem;
	}

	.post .secondary-heading {
		text-align: center;
		border: 0;
	}

	footer img {
		max-width: 40rem;
	}

}


/* Tablet */

@media screen and (min-width: 769px) {
	html {
		font-size: 16px;
	}

	body {
		font-size: 1rem;
	}

	.padding {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	header {
		height: 40rem;
	}

	.nav--menu {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: 1rem;
	}

	#toggle,
	#toggle:checked + .hamburger .top-bun,
	#toggle:checked + .hamburger .bottom-bun,
	#toggle:checked + .hamburger .meat,
	.hamburger,
	.hamburger div,
	.nav,
	.nav--menu li a,
	.nav--menu li a:before {
		all: unset; 
	}

	.nav--menu li a {
		color: #fff;
		font-weight: 100;
		font-size: 1.15rem;
		letter-spacing: .5px;
	}

	.nav--menu .cta-btn a {
		background: #f51010;
		padding: .3rem 1.5rem;
	}

	.main-heading {
		font-size: 4.5rem;
	}

}

/* Desktop */
@media screen and (min-width: 1025px) {

	.padding {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	header.bottom-margin {
		margin-bottom: 0;
	}

	.card.bottom-margin {
		margin-bottom: 5rem;
	}

	.nav--menu a {
		font-size: 1.1rem;
	}

	header  {
		height: 75vh;
		background-size: contain;
		background-position: right 45px bottom;
		clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 100%);
	}

	.hero-section {
		top: 40%;
		left: 0;
		transform: translateX(0);
		width: 50%;
	}

	.main-content--container {
		display: flex;
		flex: auto;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.content--container img {
		max-width: 60%;
	}

	.post .secondary-heading {
		font-size: 2.8rem;
		letter-spacing: .5px;
		margin-bottom: 2rem;
		position: relative;
		border-left: .4rem solid #f51010;
		padding-left: .5rem;
		text-align: left;
	}

}

@media screen and (min-width: 1600px) {

	.padding {
		padding-left: 8rem;
		padding-right: 8rem;
	}

	.post .secondary-heading {
		font-size: 3.5rem;
	}

	.content--container {
		max-widht: 60%;
	}

	.content--container img {
		max-width: 50%;
	}


}





